<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/not-authorised-page.css" />
    <script
      src="https://kit.fontawesome.com/5410e8ffe4.js"
      crossorigin="anonymous"
    ></script>
    <title>Not authorised</title>
  </head>
  <body>
    <section class="error-msg-section">
      <i class="fa-solid fa-lock fa-beat fa-2xl"></i>
      <p>Nie masz dostępu do tej strony...</p>
      <a href="/user/<%=uid%>" class="button">Wróć do strony głównej</a>
    </section>
  </body>
</html>
